<!-- FOR REGISTER PAGE -->
<nav class="navbar navbar-expand-sm bg-light">

  <ul class="nav nav-pills mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Back to Login Page</a>
    </li>
  </ul>

</nav>

<div class="container-fluid">

  <div class="row" style="margin-top: 20px">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <alert [type]="alert.type" class="w-25" style="text-align: center" *ngIf="alertOpen" [dismissOnTimeout]="alert.timeout"
              (onClosed)="closeAlert()">
              {{alert.message}}
            </alert>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!hideForm">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <h3 class="w-75" style="text-align: center">REGISTER</h3>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="hideForm">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <h5 class="w-75" style="text-align: center">You have registered successfully!! Please login with your credentials.</h5>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center " style="margin-top: 20px" *ngIf="!hideForm">

        <form style="width: 30%" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-group row">
            <label for="Name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input #name_text="ngModel" type="text" name="input0" [(ngModel)]="name" class="form-control" id="name"
                placeholder="Enter your name" required>
              <div [hidden]="name_text.valid || name_text.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="Email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input #email_text="ngModel" type="email" name="input1" [(ngModel)]="email" class="form-control" id="Email"
                placeholder="Enter your email eg: abcd@qwer.com" required>
              <div [hidden]="email_text.valid || email_text.pristine" class="alert alert-danger">
                Email is required
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="UserId" class="col-sm-3 col-form-label">User ID</label>
            <div class="col-sm-9">
              <input #userId_text="ngModel" type="text" name="input2" [(ngModel)]="userId" class="form-control" id="UserId"
                placeholder="Enter a User ID" required>
              <div [hidden]="userId_text.valid || userId_text.pristine" class="alert alert-danger">
                User ID is required
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="Password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input #password_text="ngModel" type="password" name="input3" [(ngModel)]="password" class="form-control"
                id="Password" placeholder="Enter a strong password" required>
              <div [hidden]="password_text.valid || password_text.pristine" class="alert alert-danger">
                Password is required
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12" style="text-align: center">
              <button type="submit" class="btn btn-success form-control" style="width: 33%" id="Submit" [disabled]="!registerForm.form.valid">Register</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>