<!-- <div class="row" style="margin-top: 10%">
  <div class="col-sm-12" style="text-align: center">
    <form class="form-signin" #f="ngForm" (ngSubmit)="submit(f)">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="loginid" class="sr-only">Login Id</label>
      <input type="text" id="loginid" name="loginid" class="form-control" placeholder="Login Id" required="" autofocus="" [(ngModel)]="loginId">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
  </div>
</div> -->

<!-- FOR LOGIN PAGE -->
<nav class="navbar navbar-expand-sm bg-light">

  <ul class="nav nav-pills mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="func()">Register</a>
    </li>
  </ul>

  <form class="form-inline ml-auto" #f="ngForm" (ngSubmit)="submit(f)">
    <input class="form-control mr-sm-2" type="text" name="user" [(ngModel)]="loginId" placeholder="UserId">
    <input class="form-control mr-sm-2" type="password" name="pass" [(ngModel)]="password" placeholder="Password">
    <button class="btn btn-success" type="submit">Login</button>
  </form>

</nav>

<div class="container-fluid" style="height: 100%;">

  <div class="row" style="margin-top: 20px">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <h3 class="w-75" style="text-align: center">News Listing</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <ul class="list-group w-75">
              <a href="{{news.URL}}" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                *ngFor="let news of newsList">
                {{news.title}}
                <span class="badge badge-primary badge-pill">{{news.clicks}}</span>
              </a>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>